<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.schelas.schelasvans">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".main.Dashboard"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

        <activity
            android:name=".controller.Login"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name=".controller.Registration"
            android:label="@string/actRegister"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".controller.Login">

        </activity>

        <activity
            android:name=".controller.ListPassageiro"
            android:label="@string/actCadPass"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".main.Dashboard">

        </activity>

        <activity
            android:name=".controller.CadastroPassageiro"
            android:label="@string/actPass"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".controller.ListPassageiro">

        </activity>

        <activity
            android:name=".controller.DetailPassageiro"
            android:label="@string/detPass"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".controller.ListPassageiro">

        </activity>

        <activity
            android:name=".controller.ListDestino"
            android:label="@string/actCadDest"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".main.Dashboard">

        </activity>

        <activity
            android:name=".controller.CadastroDestino"
            android:label="@string/actDest"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".controller.ListDestino">

        </activity>

        <activity
            android:name=".controller.DetailDestino"
            android:label="@string/detDest"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".controller.ListPassageiro">

        </activity>

        <activity
            android:name=".controller.ListVeiculo"
            android:label="@string/actCadVeic"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".main.Dashboard">

        </activity>

        <activity
            android:name=".controller.CadastroVeiculo"
            android:label="@string/actVeic"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".controller.ListVeiculo">

        </activity>

        <activity
            android:name=".controller.DetailVeiculo"
            android:label="@string/detVeic"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".controller.ListVeiculo">

        </activity>

        <activity
            android:name=".controller.Alocar"
            android:label="@string/navAlocar"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>

        <activity android:name=".controller.Maps"/>



    </application>

</manifest>